.recycling{
    width: 1170px;
    margin: 0 auto;
    background-color: antiquewhite;
}
.img{
    /* width: 1720px; */
    width: 100%;
    /* margin: 0 auto; */
}
.img img{
    /* width: 1120px; */
    width: 100%;
}
/* 轮播图 */
.banner{
    width: 100%;
    margin: 0 auto;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }